<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>SonoLite</title>
  <link rel="shortcut icon" href="./assets/images/sonolus.ico" type="image/x-icon" />
</head>

<body>
  <h2>Level Files</h2>
  <a href="<%= bgm %>">BGM</a>
  <a href="<%= data %>">Score</a>
  <a href="<%= jacket %>">Jacket</a>
  <a href="<%= metadata %>">Metadata</a>
  <hr>
  <a href="#" onclick="window.history.back()">Back</a>
</body>

</html>