<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>SonoLite</title>
  <link rel="shortcut icon" href="./assets/images/sonolus.ico" type="image/x-icon" />
</head>

<body>
    <p><%= sus %></p>
</body>

</html>